$frutilla: #FF5F93;
$melon: rgb(182, 228, 118);
$banana: #FEDF46;


    .carrousel{
        width: 100%;
        .owl-dots{
            margin-top: -50px !important;
            position: relative !important;
        }
        height: 600px;

        .slide-0{
            background: $melon;
        }

        .slide-1{
            background: $frutilla;
        }
        
        .slide-2{
            background: $banana;
        }

        .item{
            height: 600px !important;
            width: 100%;
            
            h4{
                text-align: center;
                font-size: 4rem;
                padding-top: 30px !important;
            }
            p{
                text-align: center;
                font-size: 2rem;
                margin-bottom: 30px;
            }
            .fondo{
                position: absolute;
                object-fit: cover;
            }
            img{
                height: 300px;
                width: 100%;
                object-fit: scale-down;
                position: relative;
                z-index: 1;
            }
            
        }
    }
    
    
@media screen and (min-width:500px){
    .carrousel{
        height: 450px !important;
        .item{
            height: 450px !important;
            img{
                width: 100%;
                height: 100%;
            }
            .helado{
                width: 50%;
                height: 50%;
                margin: auto;
            }
        }
    }
}    
    
    

