$primary: #95DF38;


    footer{
        text-align: center;
        background: $primary;
        
        p{
            font-size: 1rem;
            color: white;
            padding: 10px;
        }
        a{
            div{
                i{
                    color: white;
                }
                .top{
                    padding: 0;
                    padding-bottom: 20px;
                }
            }
        }
        
    }
