$background1:#95DF38;

@keyframes mov2{
    0%{background-position-x:0px;background-position-y: 0px;}
    50%{background-position-x:-500px;background-position-y: 250px;}
    100%{background-position-x:0px;background-position-y: 0px;}
}
@keyframes helado-float{
    0%{
        top:15px;
    }
    50%{
        top:30px;
    }
    100%{
        top:15px;
    }
}

@keyframes creaciones-mov{
    0%{top:0px}
    50%{top:-10px;}
    100%{top:0px;}
}
.carrousel2{
    h4{
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        padding: 20px;
        padding-top: 80px;
        font-weight: 900;
        position: relative;
        animation: creaciones-mov 4s infinite linear;
    }
    .owl-carousel{
        
        

        $backgrounds: 0 "../img/Binggrae-B-B-Big.svg", 1 "../img/Binggrae-positivo.svg", 2 "../img/Binggrae-Metacone.svg", 3 "../img/Binggrae-Pangtoa.svg" , 4 "../img/Binggrae-PopTop.svg", 5 "../img/Binggrae-Samanco.svg" , 6 "../img/Binggrae-Summer-Crush.svg" , 7 "../img/Binggrae-Together.svg" , 8 "../img/Binggrae-Yomoite.svg";

        @each $number,$background in $backgrounds {
            .samanco-#{$number}{
                height: 100%;
                background-image: url($background);
                background-repeat: repeat;
                animation: mov2 30s infinite linear;
                -webkit-animation: mov2 30s infinite linear;
            }
        }
        
        .textos{ 
            // background-size: cover;
            
            display: flex;
            flex-direction: column;
            figure{
                height: 300px;
                display: flex;
                flex-direction: column;
                .samanco{
                    height: 200px;
                    width: 75%;
                    margin: auto;
                    position: relative;
                    padding-bottom: 35px;
                    -ms-transform: rotate(-10deg); /* IE 9 */
                    -webkit-transform: rotate(-10deg); /* Safari 3-8 */
                    transform: rotate(-10deg);
                    padding-top: 40px;
                    animation: helado-float 4s infinite linear;
                }
                .big{
                    height: 80px;
                    width: 80%;
                }
                .cafe{
                    height: 265px;
                    width: 30%;
                }
                .cone{
                    width: 25%;
                    height: 270px;
                }
                .pangtoa{
                    width: 75%;
                }
                .poptop{
                    height: 250px;
                    width: 50%;
                    -ms-transform: rotate(15deg);
                    -webkit-transform: rotate(15deg);
                    transform: rotate(15deg);
                }
                .crush{
                    height: 270px;
                    width: 90%;
                    -ms-transform: rotate(-10deg);
                    -webkit-transform: rotate(-10deg);
                    transform: rotate(2deg);
                }
                .yomoite{
                    width: 220px;
                    height: 250px;
                    -ms-transform: rotate(20deg);
                    -webkit-transform: rotate(20deg);
                    transform: rotate(20deg);
                }
            }
            
            .tarjeta{
                background: rgb(245, 243, 243);
                border-radius: 20px;
                margin: 54px 30px;
                display: flex;
                flex-direction: column;
                font-size: 30px;
                h5{
                    text-align: center;
                    font-size: 50%;
                    padding: 10px;
                    padding-top:20px;
                    font-weight: 900;
                    color: rgb(105, 103, 103);
                }
                
                    
                p{
                    display: none;
                    text-align: center;
                    font-size: 1.3rem;
                    font-weight: 500;
                    padding: 12px;
                    color: rgb(105, 103, 103);
                }
                
                .boton1{
                    color: #696767;
                    align-self:center;
                    i{
                        font-size: 25px;
                        padding: 5px;
                        cursor: pointer;
                    }
                }
                .boton2{
                    color: #696767;
                    align-self:center;
                    i{
                        font-size: 25px;
                        padding: 5px;
                        cursor: pointer;
                    }
                }
            }
            
        }
        
        
        
    }
}

.owl-dots{
    margin-top: 30px;
}


@media screen and (min-width:426px) and (max-width:768px){
    .carrousel2{
        h4{
            margin: 0;
            font-size: 3rem;
            padding: 20px;
            font-weight: bolder;
        }
        .owl-carousel{
            
            h5{
                font-size: 2rem;
                padding: 0;
            }
            p{
                width: 93%;
                margin: auto;
            }
            .item{
                
                .samanco{
                    width: 50%;
                    margin: auto;
                }
            }
        }
    }
    
}


@media screen and (min-width:769px){
    h4{
        font-size: 4rem;
    }
    h5{
        font-size: 3rem;
    }
    .item{
        
        img{
            width: 100%;
        }
    }
    
}