@keyframes animacionTitle{
    0% {top: 0px;}
    50% {top: 8px;}
    100% {top: 0px;}
}

@keyframes animacionSub{
    0% {bottom: 0px;}
    50% {bottom: 8px;}
    100% {bottom: 0px;}
}

@keyframes melonaAnimation{
    0% {background-position-x: -1000px;}
    50% {background-position-x: 1000px;}
    100% {background-position-x: -1000px;}
}

@keyframes animacionHeladoPack{
    0% {top: 10%;}
    50% {top: 15%;}
    100% {top: 10%;}
}

@keyframes animacionHelado{
    0% {bottom: 10%;}
    50% {bottom: 15%;}
    100% {bottom: 10%;}
}

.carrousel{
    &Title{
        padding-top: 80px;
        
        &Element{
            text-align: center;
            position: relative;
            font-weight: 900;
            @media screen and (max-width:1023px){
                font-size: 26px;
            }

            @media screen and (min-width:1024px) and (max-width:1439px){
                font-size: 44px;
            }
            @media screen and (min-width:1439px){
                font-size: 48px;
            }
            animation: animacionTitle 5s linear infinite;
        }
        &Sub{
            text-align: center;
            font-size: 12px;
            position: relative;
            @media screen and (max-width:1023px){
                font-size: 12px;  
            }
            @media screen and (min-width:1024px) and (max-width:1439px){
                font-size: 12px;  
            }
            @media screen and (min-width:1439px){
                font-size: 22px;
                br{
                    display: none;
                }
            }

            font-weight: 400;
            padding: 12px;
            color: #969494;
            animation: animacionSub 5s linear infinite;
        }
    }
    &Container{
        padding-top: 25px;
        .owl-carousel{
            display: flex;
            flex-direction: column;
            .owl-stage-outer{
                position: relative;
            }
            .owl-nav{
                position: absolute;
                width: 100%;
                height: 80px;
                margin: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                top: 40%;
                button{
                    span{
                        font-size: 80px;
                        font-weight: 700;
                        @media screen and (max-width:1023px){
                            font-size: 80px;
                            font-weight: 700;
                            padding: 0px 10px;
                        }
    
                        @media screen and (min-width:1024px) and (max-width:1439px){
                            font-size: 80px;
                            font-weight: 700;
                            padding: 0px 20px;
                        }
        
                        @media screen and (min-width:1439px) and (max-width:1919px){
                            font-size: 160px;
                            font-weight: 700;
                            padding: 0px 30px;
                        }
                        @media screen and (min-width:1920px){
                            font-size: 180px;
                            font-weight: 700;
                            padding: 0px 40px;
                        }
                    }
                }
            }
            .owl-dots{
                position: absolute;
                width: 100%;
                bottom: -50px;
                margin: 0;
                
                button{
                    span{
                        @media screen and (max-width:1023px){
                            width: 10px;
                            height: 10px;
                        }
    
                        @media screen and (min-width:1024px) and (max-width:1439px){
                            width: 22.5px;
                            height: 22.5px;
                        }
        
                        @media screen and (min-width:1439px) and (max-width:1919px){
                            width: 22.5px;
                            height: 22.5px;
                        }
                        @media screen and (min-width:1920px){
                            width: 22.5px;
                            height: 22.5px;
                        }
                    }
                }
            }
        }
        .item{
            display: flex;
            position: relative;
            @media screen and (max-width:425px){
                height: 350px;    
            }
            @media screen and (min-width:426px) and (max-width:768px){
                height: 450px;    
            }
            @media screen and (min-width:769px) and (max-width:1439px){
                height: 570px;    
            }
            @media screen and (min-width:1439px) and (max-width:1919px){
                height: 670px;    
            }
            @media screen and (min-width:1920px){
                height: 860px;    
            }

            .carrouselContainerIce{
                position: absolute;
                display: flex;
                
                height: 100%;
                
                @media screen and (max-width:425px){
                    width: 210px;
                }
                @media screen and (min-width:426px) and (max-width:768px){
                    width: 240px;
                }
                @media screen and (min-width:769px) and (max-width:1439px){
                    width: 320px;  
                }
                @media screen and (min-width:1439px) and (max-width:1919px){
                    width: 390px;    
                }
                @media screen and (min-width:1920px){
                    width: 490px;    
                }

                @media screen and (max-width:425px){
                    left: 5%;
                }
                @media screen and (min-width:426px){
                    left: 25%;
                }
                
                &Element1{
                    position: absolute;
                    left: 0;
                    
                    @media screen and (max-width:425px){
                        width: 120px;
                    }
                    @media screen and (min-width:426px) and (max-width:768px){
                        width: 150px; 
                    }
                    @media screen and (min-width:769px) and (max-width:1439px){
                        width: 190px; 
                    }
                    @media screen and (min-width:1439px) and (max-width:1919px){
                        width: 220px;   
                    }
                    @media screen and (min-width:1920px){
                        width: 290px;    
                    }
                    height: 80%;
                    align-self: center;
                    animation: animacionHeladoPack 5s linear infinite;
                }
                &Element2{
                    position: absolute;
                    right: 0;
                    
                    
                    @media screen and (max-width:425px){
                        width: 120px;
                    }
                    @media screen and (min-width:426px) and (max-width:768px){
                        width: 150px; 
                    }
                    @media screen and (min-width:769px) and (max-width:1439px){
                        width: 190px; 
                    }

                    @media screen and (min-width:1439px) and (max-width:1919px){
                        width: 220px;   
                    }
                    @media screen and (min-width:1920px){
                        width: 290px;    
                    }
                    height: 80%;
                    align-self: center;
                    animation: animacionHelado 5s linear infinite;
                }
            }
            .carrouselContainerBlock{
                
                

                @media screen and (max-width:320px){
                    left:185px;
                    right: 25px;
                    height: 110px;
                }

                @media screen and (min-width:321px) and (max-width: 375px){
                    left:155px;
                    right: 25px;
                    height: 110px;
                }

                @media screen and (min-width:376px) and (max-width: 425px){
                    left:210px;
                    right: 25px;
                    height: 110px;
                }

                @media screen and (min-width:426px) and (max-width: 768px){
                    left:50%;
                    right: 15%;
                    height: 170px;
                }

                @media screen and (min-width:769px) and (max-width:1024px){
                    
                    left:50%;
                    right: 15%;
                    height: 220px;
                }

                @media screen and (min-width:1025px) and (max-width:1440px){
                    
                    left:48%;
                    right: 28%;
                    height: 276px;
                }
                

                @media screen and (min-width:1441px){
                    
                    left:48%;
                    right: 28%;
                    height: 276px;
                }
               

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                bottom: 15px;

                
                
                position: absolute;
                background-color: rgba(245, 243, 243, 0.95);
                border-radius: 15px;
                padding: 10px 5px;
                .carrouselContainerBlockFruta{
                    
                    position: absolute;
                    
                    @media screen and (max-width:320px){
                        width: 80px;
                        top:-55px;
                    }
    
                    @media screen and (min-width:321px) and (max-width: 375px){
                        width: 80px;
                        top:-55px;
                    }
    
                    @media screen and (min-width:376px) and (max-width: 425px){
                        width: 80px;
                        top:-55px;
                    }
    
                    @media screen and (min-width:426px) and (max-width: 768px){
                        width: 110px;
                        top:-70px;
                    }

                    @media screen and (min-width: 769px) and (max-width:1024px){
                        width: 130px;
                        top:-70px;
                    }

                    @media screen and (min-width:1025px) and (max-width:1440px){
                        width: 160px;
                        top:-105px;
                    }
                   
                    @media screen and (min-width:1441px){
                        width: 190px;
                        top:-130px;
                    }
                    
                }
                &Title{

                    @media screen and (max-width:320px){
                        font-size: 22px;
                    }
    
                    @media screen and (min-width:321px) and (max-width: 375px){
                        font-size: 22px;
                    }
    
                    @media screen and (min-width:376px) and (max-width: 425px){
                        font-size: 22px;
                    }
    
                    @media screen and (min-width:426px) and (max-width: 768px){
                        font-size: 32px;
                    }


                    @media screen and (min-width: 769px) and (max-width:1024px){
                        font-size: 40px;
                    }

                    @media screen and (min-width:1025px) and (max-width:1440px){
                        font-size: 40px;
                    }
    
                    @media screen and (min-width:1441px){
                        font-size: 40px;
                    }
                  

                    font-weight: 900;
                    
                }
                &Sub{

                    @media screen and (max-width:320px){
                        font-size: 10px;
                    }
    
                    @media screen and (min-width:321px) and (max-width: 375px){
                        font-size: 10px;
                    }
    
                    @media screen and (min-width:376px) and (max-width: 425px){
                        font-size: 10px;
                    }
    
                    @media screen and (min-width:426px) and (max-width: 768px){
                        font-size: 15px;
                    }

                    @media screen and (min-width: 769px) and (max-width:1024px){
                        font-size: 20px;
                        padding: 0px 0px;
                        padding-top: 5px;
                    }

                    @media screen and (min-width:1025px) and (max-width:1440px){
                        font-size: 20px;
                        padding: 0px 0px;
                        padding-top: 5px;
                    }
                    @media screen and (min-width:1441px){
                        font-size: 20px;
                        padding: 0px 50px;
                        padding-top: 27px;
                    }
                    

                    font-weight: 700;
                    
                    
                    text-align: center;
                    color: #969494;
                }

                &Cant{
                    display: none;
                    font-weight: 400;
                    text-align: center;
                    color: #969494;
                }

                &Icon{
                    position: absolute;
                
                    

                    @media screen and (max-width:425px){
                        font-size: 12px;
                        bottom: 5px;
                    }

                    @media screen and (min-width:426px) and (max-width:1024px){
                        font-size: 20px;
                        bottom: 5px;
                    }

                    @media screen and (min-width:1025px) and (max-width:1439px){
                        font-size: 20px;
                        bottom: 5px;
                    }
                    @media screen and (min-width:1439px){
                        font-size: 28px;
                        bottom:20px;
                    }

                    font-weight: 900;
                     
                }
            }
        }
        .melon{
            background-image: url("../img/melona-verde.svg");
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
            background-position-y: 0px;
            animation: melonaAnimation linear 160s infinite;
        }
        .frutilla{
            background-image: url("../img/melona-rosa.svg"); 
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
            background-position-y: 0px;
            animation: melonaAnimation linear 160s infinite;
        }
        .banana{
            background-image: url("../img/melona-amarillo.svg"); 
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
            background-position-y: 0px;
            animation: melonaAnimation linear 160s infinite;
        }
        .mango{
            background-image: url("../img/melona-naranja.svg");  
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
            background-position-y: 0px;
            animation: melonaAnimation linear 160s infinite;
        }
        .coco{
            background-image: url("../img/melona-celeste.svg"); 
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
            background-position-y: 0px;
            animation: melonaAnimation linear 160s infinite;
        }
        
        
    }
}