$background1:#95DF38;

@keyframes mov2{
    0%{background-position-x:0px;background-position-y: 0px;}
    50%{background-position-x:-500px;background-position-y: 250px;}
    100%{background-position-x:0px;background-position-y: 0px;}
}
@keyframes helado-float-carrousel2{
    0%{
        top:30px;
    }
    50%{
        top:40px;
    }
    100%{
        top:30px;
    }
}

@keyframes creaciones-mov{
    0%{top:0px}
    50%{top:-10px;}
    100%{top:0px;}
}
.carrousel2{
    h4{
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        padding: 20px;
        padding-top: 40px;
        font-weight: 900;
        position: relative;
        animation: creaciones-mov 4s infinite linear;
    }
    .owl-carousel{
        
        

        $backgrounds: 0 "../img/Binggrae-B-B-Big.svg" #88E5A9, 1 "../img/Binggrae-Cafe au L’ait.svg" #CD9E68, 2 "../img/Binggrae-Metacone.svg" #F0D470, 3 "../img/Binggrae-Pangtoa (1).svg" #F9E891 , 4 "../img/Binggrae-PopTop.svg" #85CBD3, 5 "../img/Binggrae-Samanco.svg" #9B0B20, 6 "../img/Binggrae-Summer-Crush.svg" #F9E891 , 7 "../img/Binggrae-Together.svg" #9F5B27, 8 "../img/Binggrae-Yomoite.svg" #EABBCB;

        @each $number,$background,$colors in $backgrounds {
            .samanco-#{$number}{
                height: 100%;
                background: url($background) $colors;
                background-repeat: repeat;
                animation: mov2 30s infinite linear;
                -webkit-animation: mov2 30s infinite linear;
            }
        }
        
        .item{
            @media screen and (max-width:767px){
                height: 400px;
            }
        }

        .textos{ 
            // background-size: cover;
            @media screen and (max-width:767px){
                height: 400px;
            }
            
            display: flex;
            flex-direction: column;
            figure{
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    height: 50%;
                }
                .samanco{
                    @media screen and (max-width:1023px){
                        height: 200px;
                        width: 75%;
                        -ms-transform: rotate(-10deg); /* IE 9 */
                        -webkit-transform: rotate(-10deg); /* Safari 3-8 */
                        transform: rotate(-10deg);
                    }
                    
                    @media screen and (max-width:1440px){
                        position: relative;
                    }
                    
                    
                    
                    
                    animation: helado-float-carrousel2 4s infinite linear;
                }
                .big{
                    padding: 0;
                    @media screen and (max-width:767px){
                        width: 290px;
                        height: 100px;
                    }
                    
                }
                .cafe{
                    padding: 0;
                   
                    @media screen and (max-width:767px){
                        width: 100px;
                        height: 200px;
                    }
                }
                .cone{
                    @media screen and (max-width:767px){
                        width: 100px;
                        height: 250px;
                        padding: 0;
                        -ms-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                    
                }
                .pangtoa{
                    @media screen and (max-width:767px){
                        width: 270px;
                        -ms-transform: rotate(-5deg);
                        -webkit-transform: rotate(-5deg);
                        transform: rotate(-5deg);
                    }
                    
                }
                .poptop{
                    @media screen and (max-width:767px){
                        width: 150px;
                        -ms-transform: rotate(15deg);
                        -webkit-transform: rotate(15deg);
                        transform: rotate(15deg);
                    }
                   
                }
                .crush{
                    @media screen and (max-width:767px){
                        width: 300px;
                        -ms-transform: rotate(-10deg);
                        -webkit-transform: rotate(-10deg);
                        transform: rotate(2deg);
                    }
                    
                }
                .yomoite{
                    @media screen and (max-width:767px){
                        padding: 0;
                        height: 200px;
                        width: 200px;;
                        -ms-transform: rotate(20deg);
                        -webkit-transform: rotate(20deg);
                        transform: rotate(20deg);
                    }
                    
                }
            }
            
            .tarjeta{
                background: rgb(245, 243, 243);
                border-radius: 8px;
                margin: auto;
                width: 80%;
                display: flex;
                flex-direction: column;
                font-size: 30px;
                h5{
                    text-align: center;
                    font-size: 50%;
                    padding: 10px;
                    padding-top:20px;
                    font-weight: 900;
                    color: black;
                }
                
                    
                p{
                    display: none;
                    text-align: center;
                    font-size: 1.3rem;
                    font-weight: 500;
                    padding: 12px;
                    color: rgb(105, 103, 103);
                }
                

                @for $i from 1 through 8 {
                .boton#{$i} {
                    color: black;
                    align-self:center;
                    i{
                        font-size: 25px;
                        padding: 5px;
                        cursor: pointer;
                    }
                }
                }

                

            }
            
        }
        
        
        
    }
}

.owl-dots{
    margin-top: 30px;
}


@media screen and (min-width:426px) and (max-width:768px){
    .carrousel2{
        h4{
            margin: 0;
            font-size: 30px;
            padding: 20px;
            padding-bottom: 80px;
            font-weight: 900;
        }
        .owl-carousel{
            
            h5{
                font-size: 2rem;
                padding: 0;
            }
            p{
                width: 93%;
                margin: auto;
            }
            .item{
                height: 500px;
                .textos{
                    height: 500px;
                    .big{
                        width: 270px;
                        height: 70px;
                        -ms-transform: rotate(67deg); /* IE 9 */
                        -webkit-transform: rotate(67deg); /* Safari 3-8 */
                        transform: rotate(67deg);
                    }
                    .cafe{
                        width: 104px;
                        height: 249px;
                        -ms-transform: rotate(-12deg); /* IE 9 */
                        -webkit-transform: rotate(-12deg); /* Safari 3-8 */
                        transform: rotate(-12deg);
                    }
                    .cone{
                        width: 78px;
                        height: 256px;
                        -ms-transform: rotate(-12deg); /* IE 9 */
                        -webkit-transform: rotate(-12deg); /* Safari 3-8 */
                        transform: rotate(-12deg);
                    }
                    .pangtoa{
                        width: 300px;
                        height: 210px;
                        -ms-transform: rotate(-12deg); /* IE 9 */
                        -webkit-transform: rotate(-12deg); /* Safari 3-8 */
                        transform: rotate(-12deg);
                    }
                    .poptop{
                        width: 226px;
                        height: 257px;
                    
                        -ms-transform: rotate(15deg); /* IE 9 */
                        -webkit-transform: rotate(15deg); /* Safari 3-8 */
                        transform: rotate(15deg);
                    }
                    .original{
                        width: 283px;
                        height: 207px;
                        -ms-transform: rotate(-12deg); /* IE 9 */
                        -webkit-transform: rotate(-12deg); /* Safari 3-8 */
                        transform: rotate(-12deg);
                    }
                    .together{
                        width: 250px;
                        height: 196px;
                        -ms-transform: rotate(-8deg); /* IE 9 */
                        -webkit-transform: rotate(-8deg); /* Safari 3-8 */
                        transform: rotate(-8deg);
                    }
                    .yomoite{
                        width: 227px;
                        height: 237px;
                        -ms-transform: rotate(27deg); /* IE 9 */
                        -webkit-transform: rotate(27deg); /* Safari 3-8 */
                        transform: rotate(27deg);
                    }
                }
                
            }
        }
    }
    
}


@media screen and (min-width:769px) and (max-width:1439px){
    .carrousel2{
        h4{
            font-size: 44px;
            padding-bottom: 40px;
        }
        .item{
            height: 650px;
            .textos{
                height: 650px;
                .tarjeta{
                    margin-bottom: 100px;
                    width: 50%;
                    h5{
                        font-size: 24px;
                    }
                }
                .big{
                    width:375px;
                    height: 100px;
                    -ms-transform: rotate(67deg); /* IE 9 */
                    -webkit-transform: rotate(67deg); /* Safari 3-8 */
                    transform: rotate(67deg);
                }
                .cafe{
                    width: 118px;
                    height: 336px;
                    -ms-transform: rotate(-12deg); /* IE 9 */
                    -webkit-transform: rotate(-12deg); /* Safari 3-8 */
                    transform: rotate(-12deg);
                }
                .cone{
                    width: 100px;
                    height: 356px;
                    -ms-transform: rotate(-12deg); /* IE 9 */
                    -webkit-transform: rotate(-12deg); /* Safari 3-8 */
                    transform: rotate(-12deg);
                }
                .pangtoa{
                    width: 300px;
                    height: 210px;
                    -ms-transform: rotate(-12deg); /* IE 9 */
                    -webkit-transform: rotate(-12deg); /* Safari 3-8 */
                    transform: rotate(-12deg);
                }
                .poptop{
                    width: 282px;
                    height: 343px;
                    -ms-transform: rotate(15deg); /* IE 9 */
                    -webkit-transform: rotate(15deg); /* Safari 3-8 */
                    transform: rotate(15deg);
                }
                .original{
                    width: 350px;
                    height: 240px;
                    -ms-transform: rotate(-12deg); /* IE 9 */
                    -webkit-transform: rotate(-12deg); /* Safari 3-8 */
                    transform: rotate(-12deg);
                }
                .together{
                    width: 300px;
                    height: 240px;
                    -ms-transform: rotate(-8deg); /* IE 9 */
                    -webkit-transform: rotate(-8deg); /* Safari 3-8 */
                    transform: rotate(-8deg);
                }
                .yomoite{
                    width: 290px;
                    height: 290px;
                    -ms-transform: rotate(27deg); /* IE 9 */
                    -webkit-transform: rotate(27deg); /* Safari 3-8 */
                    transform: rotate(27deg);
                }
            }
        }
    }
    
    
}

@media screen and (min-width:1440px){
.carrousel2{
    h4{
        font-size:48px;
        padding: 60px 80px;
        
    }
    .item{
        height: 700px;
        .textos{
            height: 700px;
            .tarjeta{
                
                border-radius: 8px;
                h5{
                    padding: 0;
                    padding: 20px;
                    font-size: 30px;
                    color: black;
                }
                p{
                    font-size: 16px;
                    color: gray;
                    font-weight: 500;
                }
            }
            img{
                position:relative; 
                
            }
            figure{
                height:65%;
            }
            .big{
                width:375px;
                height: 100px;
                -ms-transform: rotate(67deg); /* IE 9 */
                -webkit-transform: rotate(67deg); /* Safari 3-8 */
                transform: rotate(67deg);
            }
            .cafe{
                width: 118px;
                height: 336px;
                -ms-transform: rotate(-12deg); /* IE 9 */
                -webkit-transform: rotate(-12deg); /* Safari 3-8 */
                transform: rotate(-12deg);
            }
            .cone{
                width: 100px;
                height: 356px;
                -ms-transform: rotate(-12deg); /* IE 9 */
                -webkit-transform: rotate(-12deg); /* Safari 3-8 */
                transform: rotate(-12deg);
            }
            .pangtoa{
                width: 300px;
                height: 210px;
                -ms-transform: rotate(-12deg); /* IE 9 */
                -webkit-transform: rotate(-12deg); /* Safari 3-8 */
                transform: rotate(-12deg);
            }
            .poptop{
                width: 282px;
                height: 343px;
                -ms-transform: rotate(15deg); /* IE 9 */
                -webkit-transform: rotate(15deg); /* Safari 3-8 */
                transform: rotate(15deg);
            }
            .original{
                width: 350px;
                height: 240px;
                -ms-transform: rotate(-12deg); /* IE 9 */
                -webkit-transform: rotate(-12deg); /* Safari 3-8 */
                transform: rotate(-12deg);
            }
            .together{
                width: 300px;
                height: 240px;
                -ms-transform: rotate(-8deg); /* IE 9 */
                -webkit-transform: rotate(-8deg); /* Safari 3-8 */
                transform: rotate(-8deg);
            }
            .yomoite{
                width: 290px;
                height: 290px;
                -ms-transform: rotate(27deg); /* IE 9 */
                -webkit-transform: rotate(27deg); /* Safari 3-8 */
                transform: rotate(27deg);
            }
        }
    }
}
}


