$frutilla: #FF5F93;
$melon: rgb(182, 228, 118);
$banana: #FEDF46;

@keyframes mov{
    0%{background-position-x:0px}
    50%{background-position-x:-500px}
    100%{background-position-x:0px}
}

@keyframes padding-anim1{
    0%{top: 50px;}
    50%{top:60px}
    100%{top:50px}
}

@keyframes padding-anim2{
    0%{top: 50px;}
    50%{top:30px}
    100%{top:50px}
}




    .carrousel{
        .gustos-frutales-cont{
            height: 240px;
            .gustos-frutales-h4{
                text-align: center;
                font-size: 3rem;
                font-weight: 900;
                position: relative;
                padding: 30px;
                padding-top: 0px;
                padding-bottom: 0px;
                animation: padding-anim1 4s infinite linear;
            }
            .gustos-frutales{
                text-align: center;
                @media screen and (max-width:764px){
                    font-size: 1.4rem;
                }
                
                line-height: 24px;
                color: gray;
                padding: 38px;
                padding-top: 60px;
                padding-bottom: 21px;
                font-weight: 500;
                position: relative;
                animation: padding-anim2 4s infinite linear reverse;
            }
        }
        
        width: 100%;

        $backgrounds: 0 "../img/melona-verde.svg", 1 "../img/melona-rosa.svg", 2 "../img/melona-amarillo.svg", 3 "../img/Logo-melona-naranja.svg" , 4 "../img/Logo-melona-celeste.svg";
    
        @each $number,$background in $backgrounds {
            .slide-#{$number}{
                height: 100%;
                background-image: url($background);
                background-repeat: repeat;
                background-position: center;
                background-size: cover;
                background-position-y: 0px;
                animation: mov 10s infinite linear;
                -webkit-animation: mov 30s infinite linear;
            }
        }
        
        
        .item{
            figure{
                display: flex;
                position: relative;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-start;
                @media screen and (max-width:768px){
                    height: 340px;
                }
                h
                img{
                    width: 100%;
                    object-fit: scale-down;
                    position: absolute;
                    z-index: 1;
                }
                .fondo{
                    z-index: 0;
                    height: 30%;
                    object-fit: scale-down;
                    
                }
                @keyframes helado-float1{
                    0%{
                        top:40px;
                    }
                    50%{
                        top:50px;
                    }
                    100%{
                        top:40px;
                    }
                }
                @keyframes helado-float2{
                    0%{
                        top:45px;
                    }
                    50%{
                        top:35px;
                    }
                    100%{
                        top:45px;
                    }
                }
                .helado1{
                    @media screen and (max-width:768px){
                        width: 100px;
                        height: 290px;
                    }
                    position: absolute;
                    align-self: center;
                    z-index: 0;
                    right: 270px;
                    @media screen and (max-width:375px){
                        right: 180px;
                    }
                    @media screen and (max-width:1025px){
                        animation: helado-float1 5s infinite linear;
                    }
                    
                }
                .helado2{
                    @media screen and (max-width:768px){
                        width: 100px;
                        height: 290px;
                    }
                    position: absolute;
                    align-self: center;
                    z-index: 0;
                    right: 185px;
                    @media screen and (max-width:375px){
                        right: 100px;
                    }
                    @media screen and (max-width:1025px){
                        animation: helado-float2 5s infinite linear;
                    }
                }
                .helado-verde1{
                    @media screen and (max-width:1025px){
                        width: 100px;
                        height: 290px;
                    }
                    position: absolute;
                    align-self: center;
                    z-index: 0;
                    right: 270px;
                    @media screen and (max-width:375px){
                        right: 180px;
                    }
                    @media screen and (max-width:1025px){
                        animation: helado-float1 5s infinite linear;
                    }
                }
                .helado-verde2{
                    @media screen and (max-width:768px){
                        width: 100px;
                        height: 290px;
                    }
                    position: absolute;
                    align-self: center;
                    z-index: 0;
                    right: 185px;
                    @media screen and (max-width:375px){
                        right: 100px;
                    }
                    @media screen and (max-width:1025px){
                        animation: helado-float2 5s infinite linear;
                    }
                }
                .helado-info{
                    @media screen and (max-width:425px){
                        width: 40%;
                        margin: 5% 5%;
                    }
                    
                    display: flex;
                    flex-direction: column;
                    background: rgba(245, 243, 243,0.95);
                    
                    box-sizing: border-box;
                    border-radius: 15px;
                    justify-content: center;
                    align-items: center;
                    align-self: flex-end;
                    z-index: 0;
                    
                    img{
                        
                        @media screen and (max-width:425px){
                            position: relative;
                            top: -10px;
                            margin-top: -30px;
                            width: 50px;
                        }
                    }

                    $strings: "banana","mango","coco";
    
                    @each $string in $strings {
                        ##{$string}-fruta{
                            
                            @media screen and (max-width:425px){
                                width: 85px;
                                position: relative;
                                margin-top: -30px;
                            top: -10px;
                            }
                        }
                    }

                    #coco-fruta{
                        
                        
                        @media screen and (max-width:425px){
                            width: 85px;
                            position: relative;
                            top: -10px;
                            margin-top: -30px;
                        }
                    }
                    
                    .helado-info-body{
                        height: 70%;
                        top: -5px;
                        position: relative;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        h4{
                            padding: 0;
                            @media screen and (max-width:768px){
                                font-size: 1.8rem;
                            }
                            padding: 5px;
                        }
                        h6{
                            text-align: center;
                            @media screen and (max-width:768px){
                                font-size: 1rem;
                                width: 60%;
                            }
                            
                            
                            
                            color: rgb(150, 148, 148);
                        }
                        p{
                            font-size: 0px;
                            color: rgb(150, 148, 148);
                            @media screen and (max-width:768px){
                                padding: 11px;
                                text-align: left;
                            }
                            
                            display: none;
                            
                        }
                        .arrows{
                            i{
                                @media screen and (max-width:1439px){
                                    font-size: 20px;
                                }
                                
                                padding-bottom: 5px;
                            }
                        }
                    }
                    
                }
                p{
                    margin: 0;
                }
            }
            
                
            
        }
    }
    
    
@media screen and (min-width:426px) and (max-width:768px){
    .carrousel{
        .item{
            figure{
                width:100%;
                @media screen and (max-width:769px){
                    height: 265px;
                }
                
                .helado-verde1{
                    
                    
                    @media screen and (min-width:651px) and (max-width:768px){
                        left: 230px;
                        height: 240px;
                    }
                    @media screen and (min-width:426px) and (max-width:650px){
                        left: 100px;
                        height: 240px;
                    }
                }
                .helado-verde2{
                    
                    height: 240px;
                    @media screen and (min-width:651px) and (max-width:768px){
                        left: 300px;
                        height: 240px;
                    }
                    @media screen and (min-width:426px) and (max-width:650px){
                        left: 180px;
                        height: 240px;
                    }
                }
                .helado1{
                    @media screen and (min-width:651px) and (max-width:768px){
                        left: 230px;
                        height: 240px;
                    }
                    @media screen and (min-width:426px) and (max-width:650px){
                        left: 100px;
                        height: 240px;
                    }
                  
                }
                .helado2{
                    @media screen and (min-width:651px) and (max-width:768px){
                        left: 300px;
                        height: 240px;
                    }
                    @media screen and (min-width:426px) and (max-width:650px){
                        left: 180px;
                        height: 240px;
                    }
                    ;
                }
                p{
                    z-index: 2;
                    position: relative;
                }
                img{
                    top:-10px;
                    position: relative;
                    margin-top: -30px;
                }
                $strings: "banana","mango","coco";
    
                @each $string in $strings {
                    ##{$string}-fruta{
                            position: relative;
                            margin-top: -30px;
                            top: -10px;
                        }
                    }
                }

                #coco-fruta{
                    top:85px;
                }
                .helado-info{
                    margin-right: 150px;
                    @media screen and (min-width:651px) and (max-width:768px){
                        width: 20%;
                    }
                    @media screen and (min-width:426px) and (max-width:650px){
                        width:30%;
                    }
                    margin: 3% 18%;
                    margin-right: 25%;
                    justify-content: flex-end;
                    img{
                        width: 55px;
                    }
                    

                    .helado-info-body{
                        justify-content: flex-start;
                    }

                }
            }
            
            .fondo{
                object-fit: cover;
                width: 100%;
                height: 70%;
            }
            
        }
    }

    @keyframes helado-float1-1025{
        0%{
            top:40px;
        }
        50%{
            top:50px;
        }
        100%{
            top:40px;
        }
    }
    @keyframes helado-float2-1025{
        0% {
            top: 95px;
        }
        
        50% {
            top: 75px;
        }
        100% {
            top: 95px;
        }
    }
@media screen and (min-width:1025px) and (max-width:1439px){
    

    .carrousel{
        .gustos-frutales-cont{
            .gustos-frutales-h4{
                font-size: 44px;
                br{
                    display: none;
                }
            }
            p{
                font-size: 16px;
            }
        }
        
        
        figure{
            @media screen and (min-width:769px) and (max-width:1439px){
                height: 450px;
            }
            
            .helado-verde1 {
                left: 30%;
                width: 163px;
                height: 375px;
                animation: helado-float1-1025 5s infinite linear;
            }
            .helado-verde2 {
                left: 41%;
                width: 109px;
                height: 320px;
                animation: helado-float2-1025 5s infinite linear ;
            }
            .helado1 {
                left: 30%;
                width: 163px;
                height: 375px;
                animation: helado-float1-1025 5s infinite linear;
            }
            .helado2 {
                left: 41%;
                width: 109px;
                height: 320px;
                animation: helado-float2-1025 5s infinite linear ;
            }
            .helado-info{
                margin: 30px;
                margin-right: 30%;
                width: 15%;
                img{
                    top:-6px;
                    position: relative;
                    margin-top: -60px;
                    
                    @media screen and (min-width:769px) and (max-width:1439px){
                        width: 75px;
                    }
                }

                .helado-info-body{
                    h4{
                        font-size: 24px;
                    }
                    h6{
                        font-size: 16px;
                        width: 80%;
                    }
                    p{
                        font-size: 16px;
                        text-align: center;
                        padding: 20px;
                    }
                    .arrows{
                        cursor: pointer;
                    }
                }
                $strings: "banana","mango","coco";
    
                @each $string in $strings {
                    ##{$string}-fruta{
                            position: relative;
                            margin-top: -30px;
                            top: 0px;
                            @media screen and (min-width:769px) and (max-width:1439px){
                                width: 120px;
                            }
                        }
                    }
                }

                #coco-fruta{
                    top:85px;
                    @media screen and (min-width:769px) and (max-width:1439px){
                        width: 120px;
                    }
                }
            }
        }
    }


@media screen and (min-width:769px) and (max-width:1024px){
    .carrousel{
        .gustos-frutales-cont{
            .gustos-frutales-h4{
                font-size: 44px;
                br{
                    display: none;
                }
            }
            p{
                font-size: 16px;
            }
        }
        
        
        figure{
            @media screen and (min-width:769px) and (max-width:1439px){
                height: 450px;
            }
            
            .helado-verde1{
                left: 270px;
                width: 160px;
                height: 380px;
            }
            .helado-verde2{
                left: 385px;
                width: 160px;
                height: 380px;
            }
            .helado1{
                left: 270px;
                width: 160px;
                height: 380px;
            }
            .helado2{
                left: 385px;
                width: 160px;
                height: 380px;
            }
            .helado-info{
                margin: 30px;
                margin-right: 25%;
                width: 25%;
                height: 35%;
                img{
                    top:-6px;
                    position: relative;
                    margin-top: -60px;
                    
                    @media screen and (min-width:769px) and (max-width:1439px){
                        width: 75px;
                    }
                }

                .helado-info-body{
                    h4{
                        font-size: 24px;
                    }
                    h6{
                        font-size: 16px;
                    }
                    p{
                        font-size: 16px;
                        text-align: center;
                        padding: 20px;
                    }
                    .arrows{
                        cursor: pointer;
                    }
                }
                $strings: "banana","mango","coco";
    
                @each $string in $strings {
                    ##{$string}-fruta{
                            position: relative;
                            margin-top: -30px;
                            top: 0px;
                            @media screen and (min-width:769px) and (max-width:1439px){
                                width: 120px;
                            }
                        }
                    }
                }

                #coco-fruta{
                    top:85px;
                    @media screen and (min-width:769px) and (max-width:1439px){
                        width: 120px;
                    }
                }
            }
        }
    }

@media screen and (min-width:1440px){

@keyframes padding-anim1-1440{
    0%{top: 20px;}
    50%{top:30px}
    100%{top:20px}
}

@keyframes padding-anim2-1440{
    0%{top: 75px;}
    50%{top:60px;}
    100%{top:75px;}
}

@keyframes helado-float1-1440{
    0%{
        top:20px;
    }
    50%{
        top:45px;
    }
    100%{
        top:20px;
    }
}
@keyframes helado-float2-1440{
    0% {
        top: 135px;
    }
    
    50% {
        top: 115px;
    }
    100% {
        top: 135px;
    }
}
.carrousel{
    .gustos-frutales-cont{
        .gustos-frutales-h4{
            font-size: 48px;
            animation: padding-anim1-1440 4s infinite linear;
            br{
                display: none;
            }
        }
        .gustos-frutales{
            width:575px;
            margin: auto;
            font-size:22px;
            padding: 0;
            line-height: 30px;
            animation: padding-anim2-1440 4s infinite linear;
        }
    }
    
    figure{
        height: 654px;
        
        .helado-verde1 {
            left: 29%;
            width: 265px;
            height: 610px;
            animation: helado-float1-1440 5s infinite linear;
        }
        .helado-verde2 {
            left: 41%;
            width: 165px;
            height: 480px;
            animation: helado-float2-1440 5s infinite linear ;
        }
        .helado1 {
            left: 29%;
            width: 265px;
            height: 610px;
            animation: helado-float1-1440 5s infinite linear;
        }
        .helado2 {
            left: 41%;
            width: 165px;
            height: 480px;
            animation: helado-float2-1440 5s infinite linear ;
        }
        .helado-info{
            @media screen and (max-width:1900px){
                width: 21%;
            }
            
            
            margin: 30px;
            margin-right: 27%;
            
            img{
                width: 150px;
                margin-top: -110px;
                margin-bottom: 10px;
            }
            #melon-fruta{
                margin-left: 20px;
            }
            $strings: "banana","mango";
    
                @each $string in $strings {
                    ##{$string}-fruta{

                            position: relative;
                            margin-top: -100px;
                            top: 0px;
                            width: 226px;
                            @media screen and (min-width:769px) and (max-width:1439px){
                                width: 120px;
                            }
                            
                        }
                    }
                }
                #coco-fruta{
                    margin-top: -60px;
                    position: relative;
                    
                    top: 0px;
                    width: 226px;
                    @media screen and (min-width:769px) and (max-width:1439px){
                        width: 120px;
                    }
                }
            .helado-info-body{
                h4{
                    font-size: 40px;
                    font-weight: 900;
                }
                h6{
                    font-size: 28px;
                    font-weight: 400;
                    width: 70%;
                }
                p{
                    padding: 20px;
                    text-align: center;
                    
                }
                .arrows{
                    cursor: pointer;
                    i{
                        font-size: 44px;
                    }
                }
            } 
        } 
    }
    
}



@media screen and (min-width:1901px){
    .owl-theme{
        .owl-dots{
            margin-top: 35px;
            .owl-dot{
                span {
                    width: 20px;
                    height: 20px;
                    margin: 5px 10px;
                }
            } 
    } 
}
}

.helado-info{
    @media screen and (min-width:1901px){
        width: 21%;
    }
}

    
    

