$frutilla: #FF5F93;
$melon: rgb(182, 228, 118);
$banana: #FEDF46;

    
    .carrousel{
        h4{
            text-align: center;
            font-size: 3rem;
            padding: 30px;
            padding-top: 50px;
            padding-bottom: 10px;
        }
        p{
            text-align: center;
            font-size: 1.5rem;
            padding: 20px;
            padding-top: 0px;
        }
        width: 100%;

        $backgrounds: 0 "../img/melona-verde.svg", 1 "../img/melona-rosa.svg", 2 "../img/melona-amarillo.svg";

        @each $number,$background in $backgrounds {
            .slide-#{$number}{
                height: 237px;
                background-image: url($background);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-position-y: 0px;
            }
        }
        
        
        .item{
            figure{
                display: flex;
                position: relative;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                height: 250px;
                img{
                    width: 100%;
                    object-fit: scale-down;
                    position: absolute;
                    z-index: 1;
                }
                .fondo{
                    z-index: 0;
                    height: 30%;
                    object-fit: scale-down;
                    
                }
                .helado{
                    height: 200px;
                    width: 50%;
                    position: relative;
                }
                .helado-verde{
                    width: 50%;
                    height: 200px;
                    position: relative;
                }
                .helado-info{
                    width:50%;
                    height: 160px;
                    display: flex;
                    flex-direction: column;
                    background: rgb(245, 243, 243);
                    margin: 25px 0px;
                    margin-right: 20px;
                    box-sizing: border-box;
                    border-radius: 15px;
                    justify-content: flex-end;
                    align-items: center;
                    align-self: flex-end;
                    img{
                        width: 50px;
                        margin-top: -130px;

                    }
                    h4{
                        padding: 0;
                        font-size: 1.8rem;
                    }
                    h6{
                        text-align: center;
                        font-size: 1rem;
                        width: 60%;
                        color: rgb(150, 148, 148);
                        
                    }
                    p{
                        font-size: 8px;
                        color: rgb(150, 148, 148);
                    }
                }
                p{
                    margin: 0;
                }
            }
            
                
            
        }
    }
    
    
@media screen and (min-width:500px) and (max-width:1000px){
    .carrousel{
        .item{
            figure{
                width:100%;
                .helado{
                    width: 40%;
                    height: 250px;
                    margin: auto;
                    z-index: 2;
                }
                p{
                    z-index: 2;
                    position: relative;
                }
            }
            
            .fondo{
                object-fit: cover;
                width: 100%;
                height: 70%;
            }
            
        }
    }
}

@media screen and (min-width:1000px){
    .carrousel{
        .owl-dots{
            margin-top: -250px ;
        }
        
        
        figure{
            .helado{
                width: 80% ;
                height: 550px ;
            }
            
        }
    }
}
    
    

