$primary: #95DF38;


    footer{
        text-align: center;
        background: $primary;
        img{
            margin:18px;
        }
        p{
            font-size: 16px;
            color: white;
            padding: 30px;
        }
        a{
            text-decoration: none;
            div{
                i{
                    color: white;
                }
                .top{
                    padding: 0;
                    padding-bottom: 20px;
                    font-weight: 900;
                }
            }
        }
        
    }
