$primary: #95DF38;
$gris:rgb(223, 221, 221);
$greyform: rgb(179, 177, 177);
$formbackground: rgb(241, 238, 238);


@keyframes form-mov{
    0%{top: 0px;}
    50%{top:8px}
    100%{top:0px}
}

@keyframes form-mov2{
    0%{top: 5px;}
    50%{top:0px}
    100%{top:5px}
}

form{
    .contactanos1{
        display: none;
        h4{
            text-align: center;
            width: 100%;
            object-fit: scale-down;
            font-weight: 900;
            font-size: 30px;
            position: relative;
            animation: form-mov 4s infinite linear;
        }
        p{
            font-size: 14px;
            color: gray;
            padding: 5px;
            padding-bottom: 16px;
            position: relative;
            animation: form-mov2 4s infinite linear;
        }
    }
    
    .form{
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        
        .form-header{
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            img{
                width: 160px;
                margin: auto;
                padding: 50px;
                padding-bottom: 10px;
                position: relative;
                animation: form-mov2 6s infinite linear;
            }
            .contactanos2{
                h4{
                    text-align: center;
                    width: 100%;
                    object-fit: scale-down;
                    font-weight: 900;
                    font-size: 30px;
                    position: relative;
                    animation: form-mov 4s infinite linear;
                }
                p{
                    font-size: 14px;
                    color: gray;
                    padding: 5px;
                    padding-bottom: 16px;
                    position: relative;
                    animation: form-mov2 4s infinite linear;
                }
            }
        }
        .form-body{
            display: flex;
            flex-direction: column;
            width:80%;
            margin: auto;
            align-items: center;
            .input{
                display: flex;
                flex-direction: column;
                align-items: center;
                @media screen and (max-width:425px){
                    width: 95%;
                }
                
                input::placeholder{
                    color: $greyform;
                    font-size: 14px;
                    
                }
                input{
                    height: 40px;
                    width: 100%;
                    border-radius: 10px;
                    background: $gris;
                    border: none;
                    margin: 8px 0px;
                    padding-left: 15px;
                    color: $greyform;
                    font-size: 14px;
                    font-family: 'Montserrat', sans-serif;
                }
            }
            
            
            textarea::placeholder{
                color: $greyform;
                padding: 15px;
                font-size: 14px;
            }
            textarea{
                width: 100%;
                border-radius: 10px;
                background: $gris;
                border: none;
                font-size: 14px;
                color: $greyform;
                margin: 8px 0px;
                font-family: 'Montserrat', sans-serif;
            }
            button{
                background-color: $primary;
                height: 50px;
                width: 80%;
                border-radius: 30px;
                border: none;
                color: white;
                font-size: 2rem;
                margin: 10px auto;
                
                
            }
        }
        
    }
    
}

@media screen and (min-width:426px) and (max-width:1439px){
    form{
        .contactanos1{
            display: flex;
            flex-direction: column;
            margin-top: 35px;
            p{
                align-self: center;
            }
            
            h4{
                font-size: 34px;
            }
                
            
        }
        display: flex;
        flex-direction:column;
        .form{
            flex-direction: row-reverse;
            .form-header{
                width: 50%;
                
                .contactanos2{
                    display: none;
                }
                img{
                    padding: 0;
                    width: 190px;
                }
            }
            .form-body{
                padding: 10px;
                margin-left: 85px;
                width: 60%;
                .input{
                    width: 100%;
                    flex-direction: row;
                    input[type=email]{
                        margin-right: 15px;
                    }
                }
            }
            
        }
        
       
    }
}

@media screen and (min-width:1440px){
    @keyframes padding-anim1-1440{
        0%{top: 20px;}
        50%{top:30px}
        100%{top:20px}
    }
    
    @keyframes padding-anim2-1440{
        0%{top: 40px;}
        50%{top:30px;}
        100%{top:40px;}
    }
    form{
        margin: 120px;
        .contactanos1{
            display: flex;
            flex-direction: column;
            margin-top: 0;
            height: 150px;
            p{
                align-self: center;
                padding: 0;
                font-size: 22px;
                animation: padding-anim2-1440 4s infinite linear;
            }
            
            h4{
                font-size: 48px;
                animation: padding-anim1-1440 4s infinite linear;
            }
                
            
        }
        display: flex;
        flex-direction:column;
        .form{
            
            flex-direction: row-reverse;
            .form-header{
                width: 50%;
                
                .contactanos2{
                    display: none;
                }
                img{
                    padding: 0;
                    width: 450px;
                }
            }
            .form-body{
                padding: 10px;
                
                width: 50%;
                .input{
                    width: 100%;
                    flex-direction: row;
                    input[type=email]{
                        margin-right: 15px;
                    }
                    
                }
                textarea{
                    height: 160px;
                    margin-top:20px;
                }
                button{
                    margin-top: 35px;
                    width:65%;
                }
            }
            
        }
        
       
    }
}

