$melon: #96DE34;

@keyframes padding-anim{
    0%{top: 10px;}
    50%{top:15px}
    100%{top:10px}
}

@keyframes padding-anim2{
    0%{bottom: -5px;}
    50%{bottom:0px}
    100%{bottom:-5px}
}
    .mapa{
        width: 100%;
        margin-top: 25px;
    
        .head{
            background: white;
            text-align: center;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4{
                font-size: 30px; 
                font-weight: 900;
                position: relative;
                animation: padding-anim 2.5s infinite linear;
                padding-bottom: 16px;
            }
            p{
                font-size: 14px;
                color: gray;
                position: relative;
                animation: padding-anim2 2.5s infinite linear;
            }
        }

        
        

        .banner{
            overflow: hidden;
            background: white;
            text-align: left;
            color: gray;
            width: 90%;
            margin: auto;
            z-index: 1;
            position: relative;
            border-radius: 20px;
            .map{
                height: 300px;
                z-index: 0;
            }
            .cero{
                padding: 20px;
                display: none;
                flex-direction: column;
                overflow: visible !important;
                img {   
                    width: 100%;
                    height: 100px;
                    border-radius: 20px 20px 0 0;
                    box-shadow: 1px 5px 10px 5px rgba(0,0,0,0.1);
                    z-index: 1;
                    margin-top: -200px;
                }
                .texto{
                    background-color: white;
                    border-radius: 0px 0px 20px 20px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    box-shadow: 1px 5px 10px 5px rgba(0,0,0,0.1);
                    z-index: 1;
                    i{
                        align-self: flex-end;
                        font-size: 20px;
                        cursor: pointer;
                        
                    }
                    
                    h4{
                        font-size: 2.5rem;
                    }
                    p:nth-child(even){
                        line-height: 30px;
                        font-size: 1.5rem;
                    } 
                }
                
            }
           
           
            
        }

        
        
    }


@media screen and (min-width:426px) and (max-width:768px){
    .mapa{
        height: 510px;
        .banner{
            .map{
                height: 300px;
            }
            width: 80%;
            
            display: flex;
            flex-direction: column;
            h4{
                padding-top: 20px;
            }
            .cero{
                padding: 75px;
            }
        }
    }
    
}

@media screen and (min-width: 769px) and (max-width:1439px){
    @keyframes padding-anim-769{
        0% {
            top: -10px;
        }
        
        50% {
            top: 0px;
        }
        100% {
            top: -10px;
        }
    }
    
    .mapa{
        height: 490px;
        
        .head{
            height: 300px;
            
            h4{
                font-size: 44px;
                animation: padding-anim-769 2.5s infinite linear;
            }
        }
        .banner{
            .map{
                height: 100%;
            }
            height: 400px;
            width: 95%;
            div{
                flex-basis: 100%;
            }
            display: flex;
            flex-direction: row;
            .cero{
                position: absolute;
                flex-basis: 50%;
                width: 35%;
                padding-left: 50px;
                height: 356px;
                img{
                    height: 50%;
                    margin: 0;
                }
                .texto{
                    display: none;
                    height: 50%;
                }
            }
        }
    }
}

@media screen and (min-width:1440px){
    @keyframes padding-anim1-1440{
        0%{top: -10px;}
        50%{top:0px}
        100%{top:-10px}
    }
    
    @keyframes padding-anim2-1440{
        0%{top: 15px;}
        50%{top:0px;}
        100%{top:15px;}
    }
    .mapa{
        display: flex;
        flex-direction: column;
        align-items: center;
        .head{
            height: 250px;
            margin-bottom: 60px;
            h4{
                padding: 0;
                font-size:48px;
                animation: padding-anim1-1440 4s infinite linear;
            }
            p{
                font-size: 22px;
                animation: padding-anim2-1440 4s infinite linear;
            }
        }
        .banner{
            margin: 0px 0px;
            .map{
                height: 100%;
            }
            height: 400px;
            width: 85%;
            div{
                flex-basis: 100%;
            }
            display: flex;
            flex-direction: row;
            .cero{
                position: absolute;
                flex-basis: 50%;
                width: 35%;
                padding-left: 50px;
                height: 356px;
                img{
                    height: 50%;
                    margin: 0;
                }
                .texto{
                    display: none;
                    height: 50%;
                }
            }
        }
    }
}