@keyframes familia-mov{
    0%{top:0px}
    50%{top:10px}
    100%{top:0px}
}


    .proveedores{
        display: flex;
        flex-direction: column;
        h4{
            text-align: center;
            font-size: 30px;
            margin-top: 50px;
            font-weight: 900;
            position: relative;
            animation: familia-mov 5s infinite linear;
        }
        .cuadros{
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            margin: 30px 30px;
            img{
                object-fit: scale-down;
                width: 88%;
            }
            
        }
        p{
            text-align: center;
            color: gray;
            font-size: 1.5rem;
            width: 80%;
            margin: auto;
        }
        .melona_prov{
            width: 33%;
            align-self: center;
            padding-top:70px;
            padding-bottom: 40px;
        }
    }

@media screen and (min-width:500px) and (max-width:1000px){
    .proveedores{
        .melona_prov{
            width: 20%;
            display: block;
            transform: translateX(0%);
            margin: auto;
        }
    }
    
}

@media screen and (min-width:1000px){
    .proveedores{
        h4{
            font-size: 4rem;
            font-weight: bolder;
        }
        .cuadros{
            grid-template-columns: 16.666666666666668% 16.666666666666668% 16.666666666666668% 16.666666666666668% 16.666666666666668% 16.666666666666668%;
        }
        p{
            color: black;
            font-size: 1rem;
        }
        .melona_prov{
            width: 20%;
            transform: translateX(0%);
            margin: auto;
            display: block;
            padding: 30px;
        }
    }
}