@keyframes familia-mov{
    0%{top:0px}
    50%{top:20px}
    100%{top:0px}
}


    .proveedores{
        display: flex;
        flex-direction: column;
        h4{
            text-align: center;
            font-size: 30px;
            margin-top: 50px;
            font-weight: 900;
            position: relative;
            animation: familia-mov 8s infinite linear;
        }
        .cuadros{
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            margin: 30px 30px;
            img{
                object-fit: scale-down;
                width: 80%;
                justify-self: center;
                align-self: center;
            }
            
        }
        p{
            text-align: center;
            color: gray;
            @media screen and (max-width:764px){
                font-size: 1.5rem;
            }
            
            width: 80%;
            margin: auto;
        }
        .melona_prov{
            width: 33%;
            align-self: center;
            padding-top:70px;
            padding-bottom: 40px;
        }
    }

@media screen and (min-width:500px) and (max-width:764px){
    .proveedores{
        .melona_prov{
            width: 20%;
            display: block;
            transform: translateX(0%);
            margin: auto;
        }
    }
    
}

@media screen and (min-width:764px) and (max-width:1439px){
    .proveedores{
        h4{
            font-size: 48px;
            font-weight: 900;
        }
        .cuadros{
            grid-template-columns: 16.666666666666668% 16.666666666666668% 16.666666666666668% 16.666666666666668% 16.666666666666668% 16.666666666666668%;
        }
        p{
            
            font-size: 16px;
        }
        .melona_prov{
            width: 20%;
            transform: translateX(0%);
            margin: auto;
            display: block;
            padding: 30px;
        }
    }
}

@media screen and (min-width:1024px){
    .proveedores{
        margin-top: 206px;
        h4{
            font-size: 40px;
        }
        .cuadros{
            grid-template-columns: repeat(10,10%);
            width: 80%;
            margin: 45px auto;
            img{
                margin: 0px auto;
            }
        }
        p{
            font-size: 16px;
        }
        .melona_prov{
            width: 150px;
        }
    }
}