$color1: #95DE33;
$color2: #FFFFC9;


@mixin bloques{
            background: $color1;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            i{
                font-size: 2rem;
            }
            h4{
                font-size: 3rem;
                padding: 0;
                
            }
            p{
                font-size: 2rem;
                text-align: center;
                
            }
}


    .seccion2{
        article{
            height: 176px;
        }
        article:nth-child(1){
            @include bloques;
            i{
                margin-bottom: 15px;
            }
        }
        article:nth-child(2){
            @include bloques;
            background: $color2;
            color: gray;
            i{
                color: $color1;
                font-size: 3rem;
                margin-bottom: 10px;
            }
        }
        article:nth-child(3){
            display: none;
            i{
                img{
                    width:30px;
                    height: 30px;
                    color: #FFFFC9;
                    margin-bottom: 6px;
                }
            }
        }
        article:nth-child(4){
            display: none;
            i{
                img{
                    width:30px;
                    height: 30px;
                    color: #FFFFC9;
                    margin-bottom: 6px;
                }
            }
        }
    }

@media screen and (min-width:426px) and (max-width:767px){
    .seccion2{
        display: flex;
        flex-direction: row;

        @for $i from 1 through 2 {
            article:nth-child(#{$i}){
                width:50%;
                height: 170px;
            }
          }
    }
}


@media screen and (min-width:768px) and (max-width:1023px){
    .seccion2{
        height: 500px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;
        @for $i from 1 through 4 {
            article:nth-child(#{$i}) {
                @include bloques;
                display: flex !important;
                width: 80%;
            }
        }
        article:nth-child(1){
            justify-self: end;
            align-self: flex-end;
        }
        article:nth-child(2){
            align-self: flex-end;
            background: $color2;
            color: gray;
            i{
                color: $color1;
                font-size: 3rem;
                padding-bottom: 20px;
            }
        }
        article:nth-child(3){
            background: $color2;
            color: gray;
            justify-self: end;
            i{
                color: $color1;
                font-size: 3rem;
                padding-bottom: 20px;
            }
        }
        
        
    }
    
}

@media screen and (min-width:1024px) and (max-width:1439px){
    .seccion2{
        width: 90%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin: auto;
        justify-items: center;
        @for $i from 1 through 4 {
            article:nth-child(#{$i}) {
                @include bloques;
                display: flex !important;
                width: 95%;
                height: 160px;
                justify-self: center;
                div{
                    h4{
                        font-size: 22px;
                    }
                    p{
                        font-size: 16px;
                    }
                    i{
                        padding: 0px;
                    }
                }
            }
        }
        
        article:nth-child(2){
            
            background: $color2;
            color: gray;
            i{
                color: $color1;
                font-size: 3rem;
                padding-bottom: 20px;
            }
        }
        article:nth-child(3){
            grid-area: 1/4/2/5;
            background: $color2;
            color: gray;
            
            i{
                color: $color1;
                font-size: 3rem;
                padding-bottom: 20px;
            }
        }
        
        
        
    }
}

@media screen and (min-width:1440px){
    .seccion2{
        width: 82%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin: auto;
        margin-bottom: 115px;
        justify-items: center;
        @for $i from 1 through 4 {
            article:nth-child(#{$i}) {
                @include bloques;
                display: flex !important;
                width: 95%;
                height: 160px;
                justify-self: center;
                div{
                    h4{
                        font-size: 22px;
                    }
                    p{
                        font-size: 16px;
                    }
                    i{
                        padding: 0px;
                    }
                }
            }
        }
        
        article:nth-child(2){
            
            background: $color2;
            color: gray;
            i{
                color: $color1;
                font-size: 3rem;
                padding-bottom: 20px;
            }
        }
        article:nth-child(3){
            grid-area: 1/4/2/5;
            background: $color2;
            color: gray;
            
            i{
                color: $color1;
                font-size: 3rem;
                padding-bottom: 20px;
            }
        }
        
        
        
    }
}