$primary: #95DF38;
$secondary: #FAF2D1;




    .seccion1{
        background: white;
        div{
            .melon-pack{
                display: block;
                margin: auto;
                margin-top: 30px;
                width: 80%;
            }
            h4{
                font-weight: bolder;
                margin-top: 34px;
                font-size: 34px;
                text-align: center;
                font-weight: 900;
            }
        }
        
        p{
            text-align: center;
            font-size: 1.4rem;
            line-height: 24px;
            color: gray;
            padding: 38px;
            padding-top: 18px;
            font-weight: 500;
        }
    }

@media screen and (min-width:450px) and (max-width:1000px){
    .seccion1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        div{
            .melon-pack{
                margin: auto;
                padding: 35px;
                padding-top: 50px;
                width: 60%;
            }
            h4{
                margin: 0;
                font-size: 3rem;
                br{
                    display: none;
                }
            }
        }
        
        p{
            width: 90%;
        }
    }
}

@media screen and (min-width:1000px) and (max-width:1200px){
    .seccion1{
        div{
            display: flex;
            flex-direction: row-reverse;
            justify-content:space-evenly;
            .melon-pack{
                margin: 0;
                width: 50%;
                object-fit: scale-down;
            }
            h4{
                width: 30%;
                text-align: center;
            }
        }
        p{
            width: 81%;
            padding: 50px;
            margin: auto;
        }
    }
}

@media screen and (min-width:1200px){
    .seccion1{
        div{
            flex-direction: column;
            .melon-pack{
                width: 50%;
            }
        }
        p{
            width: 50%;
            margin: auto;
        }
          
    }
}
