$primary: #95DF38;
$secondary: #FAF2D1;


@keyframes pack-mov{
    0%{top:0px}
    50%{top:10px}
    100%{top:0px}
}

    .seccion1{
        
        background: white;
        div{
            .melon-pack{
                display: block;
                margin: auto;
                margin-top: 30px;
                width: 80%;
                position: relative;
                animation: pack-mov 4s infinite linear;
            }
            h4{
                font-weight: bolder;
                margin-top: 26px;
                font-size: 34px;
                text-align: center;
                font-weight: 900;
            }
        }
        
        p{
            text-align: center;
            font-size: 1.4rem;
            line-height: 24px;
            color: gray;
            padding: 38px;
            padding-top: 18px;
            padding-bottom: 55px;
            font-weight: 500;
        }
    }

@media screen and (min-width:426px) and (max-width:768px){
    .seccion1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        div{
            .melon-pack{
                margin: auto;
                padding: 35px;
                padding-top: 50px;
                width: 60%;
            }
            h4{
                margin: 0;
                font-size: 3rem;
                br{
                    display: none;
                }
            }
        }
        
        p{
            width: 90%;
            padding: 20px;
        }
    }
}

@media screen and (min-width:769px) and (max-width:1023px){
    .seccion1{
        margin-top: 70px;
        div{
            display: flex;
            flex-direction: row-reverse;
            justify-content:space-evenly;
            .melon-pack{
                margin: 0;
                width: 50%;
                object-fit: scale-down;
            }
            h4{
                width: 30%;
                text-align: center;
            }
        }
        p{
            width: 81%;
            padding: 50px;
            margin: auto;
        }
    }
}

@media screen and (min-width:1024px) and (max-width:1440px){
    .seccion1{
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 45px 0px;
            margin-bottom: 10px;
            h4{
                margin-top: 60px;
                br{
                    display: none;
                }
            }
            .melon-pack{
                width: 50%;
                margin: 0;
            }
        }
        p{
            width: 50%;
            margin: auto;
            
            font-size: 16px;
        }
          
    }
}

@media screen and (min-width:1440px){
    .seccion1{
        div{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            margin: 120px 0px;
            margin-bottom: 10px;
            .melon-pack{
                width: 45%;
                margin: 0;
            }
            h4{
                font-size: 48px;
            }
        }
        p{
            font-size: 16px;
            width: 30%;
            margin: 70px auto;
            padding: 0;
        }
    }
}
