


*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800,900&display=swap');
}

html{
    font-size: 10px;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-width: 375px;
}

@import "header";
@import "logo";
@import "seccion1";
@import "seccion2";
@import "carrousel";
@import "mapa";
@import "carrousel2";
@import "formulario";
@import "proveedores";
@import "footer";
@import "scroll";